@import url('https://fonts.googleapis.com/css?family=Lato:300,400,500');
@import url('./bootstrap-colors.css');

body {
  font-family: 'Lato', sans-serif;
  background-color: #fefefe;
  color: #13254B;
}

.inline-this {
  display: inline;
  margin: 1em;
  padding-top: 0.1em;
  line-height: 3em;
}

.inline-next > div > label {
  display: inline;
  margin: 1em;
  padding-top: 0.1em;
  line-height: 3em;
}

.inline-next > div > div {
  display: inline;
}

input[type="text"],
input[type="email"],
input[type="password"]   {
     border-top: 0;
     border-right: 0;
     border-left: 0;
     -webkit-box-shadow: none;
     box-shadow: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
     -webkit-box-shadow: 0 2px 1px -1px #4183D7;
     box-shadow: 0 2px 1px -1px #4183D7;
}

.btn, .btn-group {
  margin-left: 1em;
}

.static-txt {
  margin-left: 1em;
}
